body, html {

	padding:0;
	margin:0;
}


body {
	color:#fff;
	background:#36302b url(hero.jpg) top center no-repeat;
	background-size:100% auto;
	font-family: 'Khand', Arial,  sans-serif;
	font-weight:400;
	font-size:20px;
	line-height:28px;
}


.nav ul li a, h1, h2, h3, h4, .buttons a, .footer a {
	font-weight:700;
}


.clearfix:before, .clearfix:after, .pad:before, .pad:after {content: '.'; display: block;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;width: 0;height: 0;}
.clearfix:after, .pad:after {clear: both;}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	display:inline-block;
	float:left;
}

.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-6 {width:50%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-12 {width:100%;}


h1, h2 {
	color:#fff;
	font-weight:700;
	margin:0;
	text-transform: uppercase;
	padding:0;
}
h1 {font-size:60px;line-height:70px;}
h2 {font-size:48px;line-height:55px;}
.hero h2 {font-size:80px;}
h3 {font-size:30px;line-height:35px;font-weight:400;color:#e8933e;margin:0;}

strong {font-weight:700;}

a {
	font-weight:700;
	text-decoration:none;
}
.container {
	margin:0 auto;
	max-width:1400px;
}
.top-wrap {
	margin:0 auto;
	max-width:1500px;
}
.top {

	position:Absolute;
	left:0;
	z-index:10000;
	top:0;
	right:0;
}
.contract {
	padding:8px 0pX;
	color:#fff;
	background:#222;
	font-size:15px;
	line-height:15px;
	position:relative;
	z-index:15000;
}
.copy {font-weight:700;
color:#e8a977;
font-size:12px;}
.header {
	width:300px;
	position:absolute;
	top:-50px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}
.header img {
	width:100%;
	height:auto;
}
.nav {margin-top:30px;}
.nav ul {
	margin:0;
	padding:0;
	text-align:center;
}
.nav ul li {
	list-style-type:none;
	margin:0;
	display:inline-block;
}

.some {text-align:right;}

.some a {
	display:inline-block;
	margin:0 5px;
	transition: all 0.2s linear;
	color:#fff;
}
.some a:hover {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	color:#e8a977;
	transition: all 0.2s linear;
}


.nav a {
	display:block;
	padding:10px 50px;
	color:#fff;
	text-transform:uppercase;
	transition: all 0.2s linear;
}
.nav a:hover {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	color:#e8933e;
	transition: all 0.2s linear;
}


.hero {
	height:100vh;
	position:relative;
	color:#fff;
}
.hero .hero-text {
	left:0;
	right:0;
	position:absolute;
	top:50%;
	-moz-transform: translateY(-35%);
	-webkit-transform: translateY(-35%);
	transform: translateY(-35%);

}

.hero .container .col-6 {text-align:left;}
.hero h3 {margin-bottom:10px;}
.buttons {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.buttons .container {}


.hero a, .footer-but a {
	border-radius:0px;
	padding:15px 20px;
	display:inline-block;
	margin-right:10px;
	font-weight:700;
	text-transform: uppercase;
	transition: all 0.2s linear;
}
 a.orange {background:#e8933e;color:#fff;}
 a.white {background:#fff;color:#222;}
 a.petrol {background:#444;color:#fff;}


.buttons a:hover, .footer-but a:hover {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	transition: all 0.2s linear;
}

.footer {text-align:center;padding:100px 0;}
.footer-but a {
	border-radius:0px;
	padding:10px 30px;
	display:inline-block;
	margin:5px;
	font-size:14px;
}

.footer img {

	height:150px;
	width:auto;
}

.buttons .container {
	padding:20px;
	text-align:center;
}

h5 {
	text-transform: uppercase;
	font-size:40px;
	line-height:35px;
	font-weight:700;
	margin:20px 0 0 0;
}

#roadmap, #tokenomics  {
	padding:100px;
	background:rgba(0,0,0,0.1);
	font-size:16px;
	text-align:center;

}
.roadmap h4 {font-weight:700;
	font-size:30px;
	margin-bottom:10px;
	line-height:32px;
}
#roadmap strong {
	color:#df633a;
	display:block;
}

.roadmap li.ready {
	font-weight:700;
	color:#df633a;
	text-decoration: line-through;
}

.roadmap ul {margin:0;padding:0;}

.roadmap li {
list-style-type:none;
margin:0;
text-align:center;

}

#tokenomics strong {
	font-size:26px;
	displaY:block;
	color:#e8933e;
	font-weight:700;
}
#tokenomics {margin-top:100px;}
.lower {
}

.howto {text-align:Center;
background:#111;
padding:100px 0;
margin-top:100px;
}

.howto strong {
	display:block;
}
.howto h6 {
	display:inline-block;
	padding:10px 20px;
	background:#df633a;
	color:#fff;
	font-size:40px;
	line-height:40px;
	margin-bottom:10px;
}


.footer .some {margin-top:40px;text-align:Center;font-size:30px;}


.roadmap, .howto, .contract {
	padding-left:40px;
	padding-right:40px;
}
.contract {
	padding-left:20px;
	padding-right:20px;
}


.mobileBuy {display:none;}
@media (max-width:1400px) {
	.lower {
		background-position: top center;
	}
	.lower {
	    padding-top: 0px;
	}
}


@media (max-width:1200px) {
	body {
		background-size:auto 900px;
		background-position:top left -120px;
	}
	.hero {height:800px;}
	.hero .col-6 {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding-right:40px;
	}
	.nav a {padding:10px 25px;}
}

@media (max-width:1024px) {
	.hero .hero-text p {font-size:15px;text-shadow: 0px 0px 5px rgba(0,0,0,0.8);}
	.hero h2{font-size:50px;line-height:50px;} 
	body {
		background-position:top left -180px;
		font-size:15px;
		line-height:21px;
	}
}

@media (max-width:800px) {
	.col-6 {width:100%;}
	body {
	    background-position: top -150px right 88%;
	}
	.hero .container .col-6 {
		margin-left:0; padding:0 40px;
		text-align:center;
	}
	.hero .hero-text {
	    left: 0;
	    right: 0;
	    position: absolute;
	    top: auto;
	    bottom:150px;
	    -moz-transform: translateY(0);
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
	.line {height:3px; width:25px; margin:4px 0;background:#fff;}
	.openNav {
		position:fixed;
		top:60px;
		z-index:16000;
		right:50px;
		border-radius:0px;
		background:#e8933e;
		padding:10px;
	}
	.contract .col-6 {width:50%;}
	.contract {position:Fixed;
		left:0;
		right:0;
		top:0;
	}
	.mobileBuy {
		display:block;
		position:fixed;
		top:60px;
		left:50px;
		z-index:15000;
		padding:8px 20px;
		font-size:16px;
		font-weight:700;
		text-transform: uppercase;
		color:#222;
		background:#fff;
		border-radius:0px;
	}
	.header .logo img {height:80px;width:auto;}
	
	.nav {
		display:none;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:#241c3a;
		z-index:15000;
		transform-origin: center center;
		width:100%;
	}
	.nav ul {
		position:absolute;
		lefT:0;
		right:0;
		top:50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);

	}
	.hero {height:600px;}

	.contract .col-6 {width:80%;}
	.contract .col-6.some {width:20%;}
	.nav ul li {
		display:block !important;
		float:none !important;
		padding:0;}
	.nav ul li a {padding:10px 0;}

	.logo img {height:160px; width:auto; margin-bottom:20px;}
	.roadmap .col-3 {width:50%;}

}
@media (max-width:600px) {
	.col-6 {width:100%;}
	#tokenomics {text-align:center;margin-top:50px;}
	.roadmap .col-6 .col-6 {width:50%;}
	.roadmap .col-3 {width:100%;}
	body {
		background-size:auto 500px;
	    background-position: top left;
	}
	.hero .container .col-6 {
		margin-left:0; padding:0 40px;
		text-align:center;
	}
	.hero .hero-text {
	    left: 0;
	    right: 0;
	    position: absolute;
	    top: auto;
	    bottom:150px;
	    -moz-transform: translateY(0);
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
	.buttons a {
		font-size:14px;
		padding:10px 0;
		margin:5px;
	}
	.openNav {right:20px;}
	.mobileBuy {left:20px;}
	.header .logo img {height:60px;width:auto;margin-top:10px;}
	.contract:after {
		position:absolute;
		z-index:1;
		left:0;
		right:0;
		top:100%;
		bottom:0;
		content:'';
		background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
		background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
		background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
		height:150px;
	}

	.howto .col-4 {width:100%;background: rgba(0,0,0,0.2); padding:20px;margin-bottom:10px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
	}
	.howto h3 {margin-bottom:30px;}
	.howto h6 {margin-top:0;}
}

@media (max-width:420px) {
	.footer-but a {
    border-radius: 6px;
    padding: 9px 15px;
    display: inline-block;
    margin: 1px;
    font-size: 14px;
}
.hero h2 {
    font-size: 40px;
    line-height: 40px;
}
	.roadmap .col-6 .col-6 {width:100%;}
	.contract {font-size:10px;}
	.contract strong {display:none;}
	.line {margin:4px; width:20px;}
	.openNav {top:40px;padding:6px;}
	.mobileBuy {top:40px;}
}